@font-face {
  font-family: "Domaine";
  font-weight: 500;
  font-style: normal;
  src:
     url('/fonts/WOFF/DomaineDisplayWeb-Medium.woff')  format('woff'),
    url('/fonts/WOFF2/DomaineDisplayWeb-Medium.woff2') format('woff2')
  ;
}
