<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= current_page.data.title || "Vuoro" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= stylesheet_link_tag :all %>

    <!-- Favicons -->
    <link rel="icon" href="/images/favicon.png" type="image/png" sizes="any"/>
    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml" sizes="any"/>

    <!-- Apple icons -->
    <link rel="apple-touch-icon" href="/images/touch-icon.png" type="image/png" sizes="any"/>
    <link rel="mask-icon" href="/images/favicon-black.svg" type="image/svg+xml" color="#171717"/>

    <!-- Microsoft icons -->
    <meta name="msapplication-TileColor" content="#171717"/>
    <meta name="msapplication-TileImage" content="/images/touch-icon.png"/>

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <%#= javascript_include_tag :all %>
  </body>
</html>
